* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #10131C;
  color: #E0E1E0;
  line-height: 1.7;
}

a {
  color: #e0e1e0;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #5474AD;
  text-decoration: underline;
}

a.inline-link {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.np-header {
  display: none;
}

header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.left-content {
  width: auto;
  height: 100%;
}

.left-content img {
  width: auto;
  height: 100%;
}

.left-content a {
  all: unset;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.2rem;
}

main {
  flex: 1;
}

section {
  background-color: #0C0F17;
  border: 1px solid #202530;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem auto;
  max-width: 800px;
  transition: all 0.3s ease;
}

section h2 {
  margin-bottom: 2rem;
}

footer {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

@media (max-width: 768px) {

  body {
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.9375rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  header {
    display: none;
  }

  .np-header {
    display: block;
  }

  .origin-switch {
    display: none;
  }

  .header {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0C0F17;
    border-bottom: 1px solid #202530;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 1.5rem;
  }

  .left-content {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-content img {
    width: 100%;
    height: auto;
  }

  .left-content a {
    background-color: transparent;
    border: none;
    padding: 0;
  }


  .right-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }

  .origin-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  .origin-label i {
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .origin-label .fa-grip-lines {
    display: inline;
  }

  .origin-label .fa-xmark {
    display: none;
  }

  .origin-switch:checked~.header .origin-label .fa-grip-lines {
    display: none;
  }

  .origin-switch:checked~.header .origin-label .fa-xmark {
    display: inline;
  }

  .select-area {
    position: fixed;
    width: 250px;
    height: calc(100vh - 7rem);
    padding: 1rem;
    top: 7rem;
    right: -250px;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 99;
    background-color: #0C0F17;
    border-left: 1px solid #202530;
  }

  .origin-switch:checked~.select-area {
    right: 0;
  }

  .latter {
    margin-top: 0.25rem;
  }

  .children-item {
    padding: 1rem;
    display: block;
    text-align: center;
    border: 1px solid #202530;
  }

  .children-item:hover {
    background-color: #181D28;
    border-color: #303848;
  }

  .overlay {
    position: fixed;
    top: 7rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 7rem);
    display: none;
    background-color: rgba(11, 13, 20, 0.6);
    z-index: 98;
  }

  .origin-switch:checked~.overlay {
    display: block;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.9375rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  main {
    margin-top: 7rem;
  }
}