* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0B0D14;
  color: #5474AD;
  line-height: 1.7;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.4;
  color: #4F729C;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.4;
  color: #4F729C;
}

h3,
h4 {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #3E5C84;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #3E5C84;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #3E5C84;
}


p {
  font-size: 1rem;
  line-height: 1.6;
}

strong {
  color: #6F91C0;
}

.np-header {
  display: none;
}

header {
  width: 100%;
  height: 7rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  height: 100%;
}

.left-content img {
  height: 100%;
}

.nav {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.25rem;
}

.nav li a {
  color: #3D5C85;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  transition: all 0.2s;
}

.nav li a:hover {
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2rem;
}

main {
  flex: 1;
  padding: 2rem 1.5rem;
}

section {
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #0C0F17;
  border: 1px solid #202530;
  color: #5474AD;
  scroll-margin-top: 7.5rem;
}

section h2 {
  border-left: 4px solid #5474AD;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

footer {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}


@media (max-width: 768px) {

  header {
    display: none;
  }

  .np-header {
    display: block;
  }

  .site_header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0A0C12;
    padding: 0 2rem;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 97;
  }

  .slider-switch {
    display: none;
  }

  .left-content {
    height: 50%;
    width: auto;
  }

  .left-content img {
    width: 100%;
    height: 100%;
  }

  .menu-toggle {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-toggle i {
    position: absolute;
    font-size: 1.75rem;
    transition: opacity 0.3s ease;
  }

  .menu-toggle i.fa-grip-lines {
    opacity: 1;
  }

  .menu-toggle i.fa-xmark {
    opacity: 0;
  }

  .slider-switch:checked ~ .site_header .right-content .menu-toggle i.fa-grip-lines {
    opacity: 0;
  }

  .slider-switch:checked ~ .site_header .right-content .menu-toggle i.fa-xmark {
    opacity: 1;
  }

  .category-switch {
    margin-bottom: 0.25rem;
  }

  .family-area {
    position: fixed;
    top: 7rem;
    right: -250px;
    width: 250px;
    padding: 1rem;
    height: calc(100vh - 7rem);
    transition: right 0.3s ease;
    z-index: 99;
    overflow-y: scroll;
    background-color: #0C0F17;
    border-left: 1px solid #2B3342;
  }

  .slider-switch:checked ~ .family-area {
    right: 0;
  }

  .overlay {
    position: fixed;
    top: 7rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 7rem);
    background: rgba(11, 13, 20, 0.7);
    display: none;
    z-index: 98;
  }

  .slider-switch:checked~.overlay {
    display: block;
  }

  .category-parent-link {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #446B9A;
    color: #3D5C85;
    text-decoration: none;
    padding: 0.75em;
    border-radius: 0.4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .category-parent-link:hover {
    color: #ffffff;
  }

  .category-parent {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #446B9A;
    padding: 0.75em;
    border-radius: 0.4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .category-children {
    display: none;
  }

  .children-category {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #446B9A;
    color: #3D5C85;
    text-decoration: none;
    margin-bottom: 0.25rem;
    padding: 0.75em;
    border-radius: 0.4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .children-category:hover {
    color: #ffffff;
  }

  .children-category-close {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #446B9A;
    margin-bottom: 0.25rem;
    padding: 0.75em;
    border-radius: 0.4rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  input#category-1:checked ~ #category-children-1,
  input#category-2:checked ~ #category-children-2,
  input#category-3:checked ~ #category-children-3 {
    display: block;
  }

  .wrapper {
    margin-top: 7rem;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
    line-height: 1.5;
  }

  p,
  input,
  textarea,
  button {
    font-size: 1rem;
    line-height: 1.6;
  }

  small {
    font-size: 0.8125rem;
    line-height: 1.6;
  }

  .alt-heading {
    font-size: 1rem;
    font-weight: bold;
  }

  section {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}