/* === index.html === */

main.top-page-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* === about.css === */

.about {
    width: 70%;
    margin: auto;
}

.about-page-intro {
    text-align: center;
}

.about-page-story-link a {
    background-color: transparent;
    color: #3D5C85;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.about-page-story-link a:hover {
    color: #5A84BB;
    text-decoration: underline;
}

/* バリュー */
.about-page-values li {
    list-style: none;
    margin-bottom: 0.5rem;
}

/* 活動内容 */

.about-page-activities li {
    list-style: none;
}

.text-img {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profile {
    width: 30%;
    text-align: center;
    margin: auto;
}

.profile img {
    width: 100%;
}

.greeting-text {
    width: 70%;
    margin: auto;
    text-align: center;
}

/* 団体概要 */

table {
    background-color: #0C1018;
    color: #5474AD;
    border: 1px solid #202530;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
}

table caption {
    color: #3E5C84;
    margin-bottom: 0.5rem;
}

table th {
    background-color: #181D28;
    color: #4F729C;
    border-bottom: 1px solid #202530;
    padding: 0.5rem;
}

table td {
    border: 1px solid #202530;
    padding: 0.5rem;
}

table tbody tr:nth-child(even) {
    background-color: #0A0E14;
}

/* 轍 */

.github-link {
    text-align: center;
}

.github-link a {
    background-color: transparent;
    color: #3D5C85;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.github-link a:hover {
    color: #5A84BB;
    text-decoration: underline;
}

/* Connect */

.about-page-connect ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50%;

}

.about-page-connect ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: transparent;
    color: #5474AD;
    border: 1px solid #446B9A;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.about-page-connect ul li a:hover {
    background-color: #2B3342;
    color: #D0D6F9;
}

.form-disabled span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #4C5670;
    cursor: not-allowed;
    opacity: 0.5;
    font-weight: bold;
    border-radius: 0.4rem;
    padding: 0.75rem;
    border: 1px solid #2B3342;
}

/* ブランドストーリー */

.story-page-brand {
    width: 70%;
}

.story-page-logo {
    width: 70%;
}

.story-page-logo-img {
    width: 50%;
    margin: 0 auto 2rem auto;
}

.story-page-logo-img img {
    width: 100%;
}



/* フォーム */

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

/* ラベル */
.form-container form label {
    color: #4F729C;
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/* 入力欄、テキストエリア、セレクト */
input,
textarea,
select {
    background-color: #0C0F17;
    color: #5474AD;
    border: 1px solid #2B3342;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    transition: all 0.3s ease;
}

/* プレースホルダー */
::placeholder {
    color: #3A4D6A;
    opacity: 1;
}

/* フォーカス・選択時 */
input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(90, 132, 187, 0.5);
    border-color: #5A84BB;
}

/* 無効状態 */
input:disabled,
textarea:disabled,
select:disabled {
    background-color: #0B0D14;
    color: #4C5670;
    border-color: #2B3342;
    cursor: not-allowed;
}

/* チェックボックスカスタム */
.contact-form .checkbox-wrapper {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: #3E5C84;
    align-items: center;
    gap: 1rem;
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper .checkmark {
    width: 18px;
    height: 18px;
    border: 1px solid #2B3342;
    background-color: #0C1018;
    border-radius: 4px;
    position: relative;
    display: inline-flex;
}

.checkbox-wrapper .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #5474AD;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-wrapper input:checked + .checkmark::after {
    display: block;
}

.checkbox-wrapper input:checked+.checkmark {
    border-color: #5474AD;
}

.contact-form button {
    display: flex;
    margin: 2rem auto 0;
    padding: 0.75rem 1.5rem;
    background-color: #1E2331;
    color: #5474AD;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover {
    background-color: #2B3342;
    color: #fff;
    box-shadow: 0 0 8px #D0D6F9aa;
}


/* ボタン */
button[type="submit"] {
    background-color: #446B9A;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover:not(:disabled) {
    background-color: #5A84BB;
}

button[type="submit"]:disabled {
    background-color: #2B3342;
    color: #4C5670;
    cursor: not-allowed;
}

/* 必須アスタリスク */
.required {
    color: #C45B5B;
    margin-left: 0.25rem;
    font-weight: bold;
}

.form-container {
    position: relative;
    width: 100%;
}

.form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 13, 20, 0.7);
    z-index: 96;
}

@media (max-width: 768px) {
    main {
        padding: 0;
    }

    .about {
        width: 100%;
    }
    
    .story-page-brand {
        width: 100%;
    }

    .story-page-logo {
        width: 100%;
    }

    .story-page-logo-img {
        width: 100%;
    }

    .profile {
        width: 100%;
    }

    .greeting-text {
        width: 100%;
    }

    .about-page-connect ul {
        max-width: 100%;
    }
}