/* === index.html === */

main.top-page-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* === about.css === */

.about {
    width: 70%;
    margin: auto;
}

.about-page-intro {
    text-align: center;
}

.about-page-story-link a {
    background-color: transparent;
    color: #446B9A;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.about-page-story-link a:hover {
    color: #5A84BB;
    text-decoration: underline;
}

/* バリュー */
.about-page-values li {
    list-style: none;
    margin-bottom: 0.5rem;
}

/* 活動内容 */

.about-page-activities li {
    list-style: none;
}

.text-img {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profile {
    width: 30%;
    text-align: center;
    margin: auto;
}

.profile img {
    width: 100%;
}

.greeting-text {
    width: 70%;
    margin: auto;
    text-align: center;
}

/* 団体概要 */

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0C0F17;
    color: #5474AD;
    border: 1px solid #202530;
    box-shadow: inset 0 1px 3px #1A1F2D80;
}

.table caption {
    caption-side: top;
    color: #3E5C84;
    padding: 0.5rem;
    font-weight: bold;
}

.table th,
.table td {
    border-bottom: 1px solid #202530;
    text-align: left;
    padding: 0.8rem 1rem;
    vertical-align: top;
}

.table th {
    background-color: #0C0F17;
    color: #4F729C;
    width: 25%;
    vertical-align: middle;
}

.table tr:nth-child(even) td {
    background-color: #0C0F17;
}

.table td {
    color: #5474AD;
    line-height: 1.6;
}

/* 轍 */

.inline-link.github {
    display: block;
    text-align: center;
}

/* Connect */

.about-page-connect ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50%;

}

.about-page-connect ul li a {
    padding: 1rem;
    display: block;
    text-align: center;
}

/* ブランドストーリー */

.story-page-brand {
    width: 70%;
}

.story-page-logo {
    width: 70%;
}

.story-page-logo-img {
    width: 50%;
    margin: 0 auto 2rem auto;
}

.story-page-logo-img img {
    width: 100%;
}



/* フォーム */

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

/* ラベル */
.form-container form label {
    color: #4F729C;
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/* 入力欄、テキストエリア、セレクト */
input,
textarea,
select {
    background-color: #0C0F17;
    color: #5474AD;
    border: 1px solid #2B3342;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    transition: all 0.3s ease;
}

/* プレースホルダー */
::placeholder {
    color: #3A4D6A;
    opacity: 1;
}

/* フォーカス・選択時 */
input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(90, 132, 187, 0.5);
    border-color: #5A84BB;
}

/* 無効状態 */
input:disabled,
textarea:disabled,
select:disabled {
    background-color: #0B0D14;
    color: #4C5670;
    border-color: #2B3342;
    cursor: not-allowed;
}

/* チェックボックスカスタム */
ï

/* ボタン */
button[type="submit"] {
    background-color: transparent;
    border: 1px solid #446B9A;
    color: #446B9A;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

button[type="submit"]:hover:not(:disabled) {
    background-color: transparent;
    color: #5A84BB;
}

button[type="submit"]:disabled {
    background-color: #4C5670;
    color: #4C5670;
    cursor: not-allowed;
}

/* 必須アスタリスク */
.required {
    color: #C45B5B;
    margin-left: 0.25rem;
    font-weight: bold;
}

.form-container {
    position: relative;
    width: 100%;
}

.form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 13, 20, 0.7);
    z-index: 96;
}

@media (max-width: 768px) {
    main {
        padding: 0;
    }

    .about {
        width: 100%;
        margin-top: 8rem;
    }

    .story-page-brand {
        width: 100%;
    }

    .story-page-logo {
        width: 100%;
    }

    .story-page-logo-img {
        width: 100%;
    }

    .profile {
        width: 100%;
    }

    .greeting-text {
        width: 100%;
    }

    .about-page-connect ul {
        max-width: 100%;
    }

    /* about.html 団体概要 */
    .table th,
    .table td {
        display: block;
        width: 100%;
    }

    .table th {
        background-color: #0C0F17;
        padding-top: 1rem;
    }

    .table td {
        padding-bottom: 1rem;
    }
}